<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% Event::STATUSES.each do |status| %>
    <td><%= link_to change_status_event_path(@event, status: status), class: "btn btn-primary", method: :patch do %>
      <%= status %></td>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :nb_participants %>
    <%= form.number_field :nb_participants %>
  </div>

  <div class="actions">
    <%= form.submit 'Enregistrer'%>
  </div>
<% end %>
