<p id="notice"><%= notice %></p>

<h1>Le repas chez <%= @event.id %> est <%= @event.status %>.</h1>
<br/>
<h3>Pour changer son status, cliquer sur l'un des boutons suivants : </h3>
<% Event::STATUSES.each do |status| %>
  <td><%= link_to change_status_event_path(@event, status: status), class: "btn btn-primary", method: :patch do %>
    <%= status %></td>
  <% end %>
<% end %>

<br/>
<br/>
<p><strong>Vous êtes <%= @event.nb_participants %> à participer à ce repas.</strong></p>

<% if @event.status == 'terminé' %>
  <h3>&Eacutevaluation du repas selon les critères suivants : </h3>

  <table> 
    <thead>
        <tr>
          <th>Id de la grille de notation</th>
          <th>Le goût</th>
          <th>La présentation</th>
          <th>L'ambiance</th>
          <th>Total accordé par chaque invité</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    </tbody>
      <% @surveys = [] %>
      <% @surveys = @event.surveys %>
      <% @surveys.each do |survey| %>
        <tr>
          <% if survey.event_id == @event.id %> 
            <td><%= survey.id %></td>
            <td><%= survey.tasty %></td>
            <td><%= survey.presentation %></td>
            <td><%= survey.atmosphere %></td>
            <td><%= survey.total %></td>

            <td><%= link_to 'Voir la grille de notation', survey %></td>
            <td><%= link_to 'La modifier', edit_survey_path(survey) %></td>
            <td><%= link_to 'La détruire', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <h3>
    <strong>Note globale récoltée par le repas :</strong>
    <%= @event.surveys.sum{|survey| survey.total} %>
  </h3>
<% else if @event.status == 'prévu'%>
  <h3> Le repas a été plannifié</h3>
  <% else %>
    <h3> Le repas est en attente de plannification</h3>
  <% end %>
<% end %>

<%= link_to 'Modifier le repas', edit_event_path(@event) %> |
<%= link_to 'Retour', events_path %>
