<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <% survey.questions.each do |question| %>
    <div class="field">
      <%= form.label question.title %>
      <%= form.number_field question.score %>
    </div>
  <% end %>
  

  <div class="actions">
    <%= form.submit 'Soumettre la grille'%>
  </div>
<% end %>
