<%= form_with(model: survey) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tasty %>
    <%= form.number_field :tasty %>
  </div>

  <div class="field">
    <%= form.label :presentation %>
    <%= form.number_field :presentation %>
  </div>

  <div class="field">
    <%= form.label :atmosphere %>
    <%= form.number_field :atmosphere %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
