<p id="notice"><%= notice %></p>

<h1>Les grilles de notation des repas</h1>

<table>
  <thead>
    <tr>
      <th>la grille n°</th>
      <th>le repas fut-il bon ?</th>
      <th>Y a-t-il eu un effort de présentation?</th>
      <th>Y a-t-il eu une bonne ambiance ?</th>
      <th>Total accordé à ce repas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td>n° <%= survey.id %></td>
        <td><%= survey.tasty %></td>
        <td><%= survey.presentation %></td>
        <td><%= survey.atmosphere %></td>
        <td><%= survey.total %></td>
        <td><%= link_to 'Voir la grille', survey %></td>
        <td><%= link_to 'La modifier', edit_survey_path(survey) %></td>
        <td><%= link_to 'La détruire', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle grille de notation', new_survey_path %>
